.emailRow{
    display: flex;
    align-items: center;
    border-top:0.1px solid rgb(239, 236, 236) ;
    border-bottom:0.1px solid rgb(239, 236, 236);
    padding:2px;
    overflow: hidden;
    flex:1;
    width:100%




}

.myClass>.MuiSvgIcon-root{
    display: flex;
    color: gray !important;
    align-items: center;
    font-size: 25px;
    padding-left: 10px;
    visibility: hidden;
}
.emailRow_title{
    color:black;
    font-weight: 500;
    margin-right: 10px;
    flex:0.12;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 90px;


}
.emailRow_options{
    margin-left:-15px !important;
}
.emailRow:hover .MuiSvgIcon-root{
  
    color: black;
    visibility: visible;
}
.emailRow:hover{
    border:1px solid  lightgray;
    box-shadow: 0px 1px 3px rgb(195, 191, 191);
    cursor: pointer;
}
.emailRow_subDesc{
    display: flex;
    flex:0.9;
    white-space: nowrap;
    overflow:hidden;



}
.emailRow_subDesc>p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;

}

.time>p{
    position: relative;
    flex:0.2;
    color:black;
    font-weight: 520;
    font-size: 12px;
    margin-right: 2px;
    margin-left: 80px;
}
/* .empty_space{
    flex:0.1;

} */
@media (max-width: 429px) {
    .emailRow{
        width:800px
    }
    /* .emailRow_message{
        margin-left: 50px;
        font-weight: 500;
    } */
    .time>p{
        font-size: 9px;
       margin-left:2px;
       margin-right: 1px;

    }
    .emailRow_subDesc>p{
        font-size: 9px;
    }
    .emailRow_subDesc>h4{
        font-size: 10px
    }
    .emailRow_subDesc{
    }
    .emailRow_title{
        font-size: 10px;
    margin-right: 10px;

    }

}