.emailList{
    /* flex:1; */
    display: flex;
    /* flex:0.95; */
    margin-top: 10px;
    background-color: white;
    width: 82%;
    border-radius: 20px;
    overflow-y:scroll;
    margin-left: 50px;


}
.email_settings{
    display: flex;
    justify-content: space-between;
    width:95%;
    margin-left: 20px;
}


.emailList_settingsLeft .MuiSvgIcon-root,.emailList_settingsRight .MuiSvgIcon-root{
    display: flex;
    align-items: center;



}
