.emailList{
    display: flex;
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    /* overflow-y:scroll; */
    margin-left: 30px;
    width: 83%;


}
.email_settings{
    position: sticky;
    display: flex;
    justify-content: space-between;
    width:98%;
    margin-left: 20px;
}
.emailList_right{
    position: sticky;
    width: 25px;
}


@media (max-width: 429px) {
    .emailList{
        width: 83% !important;

    }
    .emailList_right{
        width: 5px;
    }
    .email_settings{
        margin-left: 4px;
}

}