.mail{
    margin-top: 10px;
    margin-left: 26px;
    background-color: white;
    width: 83%;
    border-radius: 20px;
    overflow: scroll;



}
.mail_tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mailtools_left{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    color: lightgray;
    font-weight: 30;
    padding-top: 1px;
}
.mailtools_right{
    display: flex;
    align-items: center;
    /* white-space: nowrap; */

}
.mailtools_left>Button>.MuiSvgIcon-root{
    padding: 10px;
    font-size: 18px;
}
.mail_headings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mail_body{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mailbody_left{
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.mailbody_right{
    display: flex;
    align-items: center;
}
.mailbody_left>h5{
    margin-left: 15px;
}
.mailheadings_left>p{
    margin-left:70px ;
    font-weight: 400;
    font-size: 1.375rem;
    color:#1f1f1f;
    text-align:top;
}
.mailheadings_right{
    display: flex;
    align-items: center;


}
.mailheadings_right>Button>.MuiSvgIcon-root,.mailbody_right>Button>.MuiSvgIcon-root{
    padding: 10px;
    font-size: 18px;
}

