.sidebar_options{
    display: flex;
    align-items: center;
    height: 15px;
    padding: 15px;
    cursor: pointer;
    color: grey;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px ;
    width: 200px;
    margin-left: 15px;
}
.sidebar_options>h4{
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;

}
.sidebar_options>.MuiSvgIcon-root{
    padding:5px;
}
.sidebar_options:hover{
    background-color: whitesmoke;
}


.sidebar--active{
    background-color: #e7eaff !important;
    color:black
}


