
.sidebar>Button{
    color:black;
    background-color: #c5e6ff !important;
    padding: 20px;
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 10px;
}
.sidebar>Button:hover{
    box-shadow: 0px 3px 5px 3px rgb(212, 207, 207);

}
